@font-face {
  font-family: g-light;
  src: url(/fonts/GothamSSm-Light_Web.otf);
}

@font-face {
  font-family: g-med;
  src: url(/fonts/GothamSSm-Medium_Web.otf);
}

@font-face {
  font-family: g-bld;
  src: url(/fonts/GothamSSm-Bold_Web.otf);
}

@font-face {
  font-family: g-xlight;
  src: url(/fonts/GothamSSm-XLight_Web.otf);
}

@font-face {
  font-family: g-book;
  src: url(/fonts/GothamSSm-Book_Web.otf);
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

/*!  First Page */
/** Desktop Position */

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page-1 {
  height: 100vh;
  background: url(/img/img-1.jpg) center center/cover;
}
.svg_logo {
  color: #fff;
  margin-left: 48px;
  max-width: 120px;
  min-height: 56px;
  z-index: 99;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: g-light;
  font-size: 13.4px;
  font-weight: 600;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #fff;
}

.nav-center ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 0 0px;
  text-align: center;
  padding-left: 6.5rem;
}
.nav-center li {
  margin: 0 1px;
}
.nav-center li a {
  margin: 0 0px 0 30px;
  letter-spacing: 0.1px;
}
.nav-right ul {
  display: flex;
  margin: 20px 20px 0 0px;
  padding-right: 7px;
}
.nav-right li {
  margin: 0 1px;
}

.nav-right li a {
  margin: 0 20px 0 10px;
  letter-spacing: 0.1px;
}

.model-name {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  position: absolute;
  justify-content: center;
}
.model-name p {
  position: absolute;
  font-family: g-med;
  color: #fff;
  font-weight: normal;
  letter-spacing: -0.2px;
  font-size: 2.459rem;
  top: 11.2vh;
  left: 46.45vw;
}
/* Tablet Position 
.svg_logo {
  color: #fff;  
  margin-left: 36px;
  max-width: 120px;
  min-height: 56px;
}
Phone Position 
.svg_logo {
  color: #fff;
  margin-left: 24px;
  max-width: 120px;
  min-height: 56px;
}  */

/*! Second Page */
.page-2 {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.page-2 .img-left {
  margin: 15px 0 0 44px;
  height: 97.5%;
  width: 90%;
  background: url(/img/img-2.jpg) center center/cover;
}
.safety {
  padding: 25px 0 0 0;
  max-width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.safety .sfty-container {
  max-width: 85%;
  margin: 15px 0 0 50px;
  padding: 3px 35px 0 25px;
}
.sfty-small {
  display: block;
  font-family: "g-xlight";
  font-size: 16.5px;
  font-weight: 500;
  line-height: 2.1rem;
}
.sfty-big {
  display: block;
  font-family: g-book;
  font-size: 27px;
  font-weight: 800;
  line-height: 1.6rem;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  letter-spacing: -0.5px;
}
.sfty-container p {
  width: 100%;
  font-family: g-light;
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 550;
}
.sfty-container strong {
  display: block;
  letter-spacing: -0.1px;
  font-size: 13.8px;
  font-family: g-light;
  font-weight: 800;
}

/*! Third Page */
.page-3 {
  height: 100vh;
  background: url(/img/img-3.jpg) center center/cover;
}
